// main: ../main.less
#films {
  html,body{
    height:100%;
  }
}
.movie-paragraph {
  margin-bottom: 70px;
}
.affiche-film {
  width:100%;
}
#monCarousel {
  margin-bottom:50px;
}
.caption-infos-movie {
  left: 5%;
  right: 5%;
  bottom: 20%;
  text-align: left;
}

.breadcrumb {
  left: 5%;
  right: 5%;
  bottom: 10%;
  text-align: right;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  a {
    color:white;
    &:hover{
      color:lightgrey;
      text-decoration: none;
    }
  }
  .active {
    color: white;
  }
}