// main: ../main.less

.homepage-section {
  padding: 50px 0px 50px 0px;
  p, h1, h2, h3 {
    text-align: center;
    margin-bottom: 40px;
  }
  h4 {
    text-align: center;
    margin-bottom: 20px;
  }
  .tab-content {
    margin: 40px 0px 40px 0px;
  }
  .panel-body {
    height: 200px;
    background-size: cover;
  }
  &.pair {
    background-color: @fondGris;
    .panel {
      background-color: @fondGris;
    }
    .panel-footer {
      background-color: @blanc;
      padding: 0px;
    }
  }
}

.nav-pills {
  border-color: @vert;
  li {
    a {
      color:@vert;
      background-color: @blanc;
      border-radius: 0px;
      border-color: @vert;
    }
    &.active {
      a, a:hover, a:focus {
        color:@blanc;
        background-color: @vert;
      }
    }
  }
}

ul.nav-pills {
  border: 1px solid @vert;
}

.img-full-width-section {
  max-width:100%;
}

.rounded-image{
  .round-border(90px);
  overflow:hidden;
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
  img{
    width:100%;
  }
}
