// main: ../main.less

#news {
  background-color: @fondGris;}
.list-article {
  margin-top: 40px;
  padding: 0px;
  h2 {
    font-size: 20px;
    margin-top: 0px;
  }
  li {
    display: flex;
    height: 150px;
    margin: 15px;
    text-align: justify;
    &:hover {
      box-shadow:2px 4px 10px #808080
    }
  }
  .photo-article {
    width: 27%;
    background-size: cover;
  }
  .text-article {
    width: 73%;
    padding: 10px;
    background-color: white;
  }
}
.pub {
  height: 300px;
  background-size:cover;
}