// main: ../main.less
#programmation{
  .panel {
    margin: 50px 0px 0px 0px;
    background-size: cover;
  }
  .panel-body {
    height:400px;
  }
  .panel-footer {
    background-color: rgba(0,0,0,0.5);
    color:@blanc;
    border:0px;
  }
}