// main: ../main.less

nav {
  padding: 10px 0px 10px 0px;
}
h1, h3 {
  font-family: montserrat-bold;
}
h2, h4 {
  font-family: gotham-bold;
}
.panel {
  border:0px;
  padding: 0px;
}
html,
body,
{
  height:100%;
}
.glyphicon {
  color: @brand-primary;
  font-size: small;
}
figure {
  margin: 40px 0px 40px 0px;
}
figcaption {
  font-style:italic;
}
.btn-default {
  border: 0px;
  border-radius:0px;
}
a {
  color:grey;
  &:hover{
    color:dimgrey;
    text-decoration: none;
  }
}
section {
  padding-top: 50px;
}