// main: ../main.less
footer{
  padding-top: 30px;
  font-size: 12px;
  .table > tbody > tr > td {
    border-top:0px;
  }
  a {
    color:@gray;
    &:hover {
      text-decoration: none;
    }
  }
}